<ion-header>
  <page-header (updateCountCart)='updateCountCart($event)'></page-header>
</ion-header>

<ion-content no-padding>
  <div class="ctn-float-img" (click)="profilePicture()">
    <img cache="false" src="{{userData.image}}" onerror="this.src='assets/img/user-red.png';">
  </div>
  <div text-center class="ctn-float">
    <div class="spacer"></div>
    <ion-label class="font-small text-dark">
      Hola, {{userData.userName}}!
    </ion-label>
    <ion-label class="font-small text-gray-normal">
      Has sido Fluzzer desde {{userData.dateAdd}}
    </ion-label>
    
    <div class="ctn-user-data">
      <div class="row">
        <div class="col col-6 col-b-r" *ngIf="lastedFluz">
          <ion-label class="text-primary">
            {{userData.fluzLasted}}
          </ion-label>          
          <ion-label class="text-gray-normal">
            Fluz últimos 30 días
          </ion-label>          
        </div>
        <div class="col col-6">
          <ion-label class="text-dark">
            {{userData.fluzTotal}}
          </ion-label>
          <ion-label class="text-gray-normal">
            Fluz totales
          </ion-label>          
        </div>
        <div class="col col-6 col-b-r" *ngIf="!lastedFluz">
          <ion-label class="text-primary">
            COP ${{userData.totalMoney}}
          </ion-label>          
          <ion-label class="text-gray-normal">
            Dinero total
          </ion-label>          
        </div>
      </div>
      <div class="row">
        <div class="col col-6 col-b-r">
          <ion-label class="text-dark">
            {{userData.winnerMembers}}
          </ion-label>
          <ion-label class="text-gray-normal">
            Fluzzers
          </ion-label>
        </div>
        <div class="col col-6" *ngIf="showSavings">
          <ion-label class="text-dark">
            ${{userData.totalSavings}}
            <span>COP</span>
          </ion-label>
          <ion-label class="text-gray-normal">
            Ahorros totales
          </ion-label>          
        </div>
      </div>
      <div class="ctn-options">
        <div class="row" *ngIf="showOptions">
          <i class='fluz-estadistica'></i>
          <ion-label class="text-dark">Estadística</ion-label>
        </div>
        <div class="row" (click)="goTo('PersonalInformationPage')">
          <ion-icon name="person" class="icon-more"></ion-icon>
          <ion-label class="text-dark">Mi Información Personal</ion-label>
        </div>
        <div class="row" (click)="goTo('MessagesPage')">
          <i class='fluz-mesages'></i>
          <ion-label class="text-dark">Mis Mensajes</ion-label>
        </div>
        <div class="row" (click)="goTo('RedemptionPage')">
          <ion-icon name="fluz-redemption" class="icon-more-redemption"></ion-icon>
          <ion-label class="text-dark">Redimir Fluz</ion-label>
        </div>
        <div class="row" (click)="goTo('TransferFluzPage')">
          <ion-icon name="swap" class="icon-more"></ion-icon>
          <ion-label class="text-dark">Transferencia Fluz</ion-label>
        </div>
        <div class="row">
          <i class='fluz-cellphone'></i>
          <ion-label class="text-dark">Fecha Agregada <span class="right">{{userData.dateAddFull}}</span></ion-label>
        </div>
        <div class="row" (click)="openSupport()">
          <ion-icon name="md-headset" class="icon-more"></ion-icon>
          <ion-label class="text-dark">Apoyo</ion-label>
        </div>
        <div class="row" (click)="copyToClipboard(userData.refer_code)">
          <ion-icon name="ios-contacts" class="icon-more"></ion-icon>
          <ion-label class="text-dark">Código Referidos<span class="right">{{userData.refer_code}}</span></ion-label>
          <div class="ctn-toc"><ion-label class="tap-to-copy text-primary">Toca para copiar</ion-label></div>
        </div>
      </div>
    </div>
    <div class="spacer-25"></div>
    <div>
      <ion-label color="primary" text-right (click)="logout()">Cerrar sesion</ion-label>
    </div>
  </div>
  <div class="spacer-25"></div>
  <div class="spacer-25"></div>
</ion-content>
