page-login {
  @extend .font-family;
  .item.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner,
  .item.item-input.input-has-focus .item-inner {
    border-bottom-color: color($colors, gray-soft);
    box-shadow: inset 0 -1px 0 0 color($colors, gray-soft);
    border-bottom: 0px solid color($colors, gray-soft);
  }
  
  .toast {
    text-align: center;
    width: 80%;
    border-radius: 2px;
  }
  
  .toolbar-ios ion-title {
      padding: 0px;
      .toolbar-title-ios {
          font-size: 1.2rem;
      }
  }
  
  .facebook {
    background-color: #4D64AF;
  }
}
