page-vault {
  .segment .segment-button {
    color: color($colors, dark);
  }
  .ctn-purchases {
    .label{
      margin: 13px;
    }
    .item.item-block .item-inner {
      padding-right: 0px;
      .label {
        margin: 0px;
      }
    }
    .purchases{
      border: 1px solid color($colors, gray-soft);
      border-radius: 2px;
      margin: 8px;
      .grid{
        padding: 0px;
        .col {
          padding: 5px;
          .ctn-img{
            width: 100%;
            height: 100%;
            img{
              max-height: 100%;
              max-width: 100%;
              width: auto;
              height: auto;
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              margin: auto;              
            }
          }
          .label{
            margin: 5px 0;
            text-transform: capitalize;
          }
          div{
            ion-icon{
              @include font-size(14px);
              line-height: 43px;
            }
          }
        }
      }
    }
  }
  
  .ctn-earnings {
    .month{
      padding: 5px;
    }
    .order-state {
      white-space: normal;
      margin: 0px;
    }
    .row {
      align-items: center;
      .ctn-img {
        padding: 5px;
        text-align: center;
        img {
          max-width: 85%;
        }
      }
      .values {
        margin: 5px;
      }
      .info {
        margin: 0px 5px;
      }
    }
  }
  
  
}
