<ion-header>

  
  <ion-navbar hideBackButton="true" hide-tabs>
    <ion-buttons left>
      <button ion-button icon-only>
        <i class='fluz-fluz-fluz'></i>
      </button>
    </ion-buttons>
    <ion-title text-center>FORMULARIO DE REGISTRO<button ion-button clear class="invisibleButton"></button></ion-title>
    <ion-buttons right>
      <button ion-button icon-only navPop>
        <ion-icon name='close' ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-padding class="background-soft">
  <div class="ctn-background-white">
    <ion-grid  [formGroup]="registerForm" >
      <ion-row>
        <ion-item>
          <ion-label stacked>Código de Referido (Opcional)</ion-label>
          <ion-input type="text" (keyup)="validateInput($event)" [formControl]="registerForm.controls['cod_refer']"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item>
          <ion-label stacked>Nombre (Necesario)</ion-label>
          <ion-input type="text" (keyup)="validateInput($event)" [formControl]="registerForm.controls['firts_name']"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item>
          <ion-label stacked>Apellido (Necesario)</ion-label>
          <ion-input type="text" (keyup)="validateInput($event)" [formControl]="registerForm.controls['last_name']"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item>
          <ion-label stacked>Nombre de usuario(Necesario)</ion-label>
          <ion-input type="text" (keyup)="validateInput($event)" [formControl]="registerForm.controls['user_name']"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item>
          <ion-label stacked>Correo electronico (Necesario)</ion-label>
          <ion-input type="email" (keyup)="validateInput($event)" [formControl]="registerForm.controls['email']"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item>
          <ion-label stacked>Dirección (Necesario)</ion-label>
          <ion-input type="text" (keyup)="validateInput($event)" [formControl]="registerForm.controls['address']"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item>
          <ion-label stacked>Ciudad (Necesario)</ion-label>
          <ion-select okText="OK" cancelText="Cancelar" (ionChange)="validateInput($event)" [formControl]="registerForm.controls['city']">
            <ion-option *ngFor="let city of cities" [value] = "city.name">{{city.name}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item>
          <ion-label stacked>Tipo identificación (Necesario)</ion-label>
          <ion-select okText="OK" cancelText="Cancelar" (ionChange)="validateInput($event)" [formControl]="registerForm.controls['type_identification']">
            <ion-option [value] = "0">Cédula de ciudadania</ion-option>
            <ion-option [value] = "1">Nit</ion-option>
            <ion-option [value] = "2">Cédula Extranjería</ion-option>
            <ion-option [value] = "3">Pasaporte</ion-option>
          </ion-select>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item>
          <ion-label stacked>Número de identificación (Necesario)</ion-label>
          <ion-input type="number" (keyup)="validateInput($event)" [formControl]="registerForm.controls['number_identification']"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row class="border-b" (click)="openModalCountry()">
        <ion-col col-2>
          <div class="ctn-img">
            <img src="{{countries.flag}}">
          </div>
        </ion-col>
        <ion-col col-9>
          <ion-label class="font-semi-bold">{{countries.callingCodes}}  {{countries.name}}</ion-label>
        </ion-col>
        <ion-col col-1 class="background-soft">
          <div text-center>
            <ion-icon name="ios-arrow-forward"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-item>
          <ion-label stacked>Número de teléfono (Necesario)</ion-label>
          <ion-input type="number" (keyup)="validateInput($event)" [formControl]="registerForm.controls['phoneNumber']"></ion-input>
        </ion-item>
      </ion-row>
    </ion-grid>
  </div>
    
  <div class="spacer-25"></div>
  <div class="spacer-25"></div>
  <div class="spacer-25"></div>
  
</ion-content>



<ion-footer>
  <ion-toolbar color="primary" *ngIf="enabledSaveButton" (click)="sendRandom(registerForm.value)">
    <ion-title>ENVIAR</ion-title>
  </ion-toolbar>
</ion-footer>