/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/05/2017, 05:11:51 PM
    Author     : ingenio
*/

@font-face {
  font-family: 'OpenSans';
  src: url(OpenSans/OpenSans-Bold.ttf) format("ttf");
  src: url(OpenSans/OpenSans-BoldItalic.ttf) format("ttf");
  src: url(OpenSans/OpenSans-ExtraBold.ttf) format("ttf");
  src: url(OpenSans/OpenSans-ExtraBoldItalic.ttf) format("ttf");
  src: url(OpenSans/OpenSans-Italic.ttf) format("ttf");
  src: url(OpenSans/OpenSans-Light.ttf) format("ttf");
  src: url(OpenSans/OpenSans-LightItalic.ttf) format("ttf");
  src: url(OpenSans/OpenSans-Regular.ttf) format("ttf");
  src: url(OpenSans/OpenSans-Semibold.ttf) format("ttf");
  src: url(OpenSans/OpenSans-SemiboldItalic.ttf) format("ttf");
}