page-network {
  .GraphicNetwork{
    height: 200px;
    .scroll-content {
      background: #f0f0f0;
      padding: 0px !important;
      height: 200px;
    }
  }
  @extend .font-family;
  .ctn-user-data{
    @extend .background-white;
    .grid {
      padding: 0px;
    }
    .row {
      .col{
        padding: 1px;
        label {margin-top: 7px;}
        .ctn-float-img {
          text-align: center;          
        }
        img {
          height: 2rem;
        }
        @extend .font-normal;
        
        .text-gray-normal{
          @extend .font-extra-small;
        }
        border-left: 1px solid color($colors, gray-soft);
        .label {
          margin: 0px 3px;
        }
      }
    }
  }
  .float-label-gray {
    @extend .text-gray-normal;
    @extend .font-more-small;
    padding: 0 23px;
    margin: 25px 0 0 0;
  }
  .float-label{
    padding: 0 23px;
    margin: 25px 0 0 0;
  }
  .ctn-background-white {
    @extend .background-white;
    border: 1px solid color($colors, gray-soft);
    margin: 10px;
    .col {
      padding: 5px;
      .label{
        margin: 5px 0px;
      }
    }
    .text-primary {
      margin-right: 0px;
    }
    .font-extra-small {
      margin: 0;
    }
    .description {
      white-space: normal;
    }
  }
  .image-person {
    max-width: 80%;
  }
  .ctn-btn-user {
    @extend .text-primary;
    @extend .font-more-small;
    text-align: center;
    display: inline-block;
    width: 90%;
    border: 1px solid;
    padding: 3px;
  }
  
  .form-invitation{width: 100%;}
  
  .error {
    font-size: 13px;
    color: rgb(199, 37, 78);
    background: rgb(249, 242, 244);
    border-radius: 3px;
    padding: 15px;
    margin: -26px 0px 15px;
  }
  .invited-third{color: #b2b2b2;letter-spacing: 2px;}
  .text-conf-sty{margin-top: 5px;}
  .text-pend-sty{margin-top: 10px;}
  .border-b{padding: 5px;}
}
