<!--
  Generated template for the Network page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <page-header></page-header>
  </ion-navbar>

</ion-header>


<ion-content no-padding class="background-soft">
  <div class="ctn-user-data" *ngIf="showHomeUserData===true">
    <ion-grid>
      <ion-row>
        <ion-col col-2 text-center>
          <!--<div class="ctn-float-img">-->
            <img src="{{userData.image}}" onerror="this.src='assets/img/user-red.png';">
          <!--</div>-->
          <ion-label class="text-gray-normal">
            Hola, {{userData.userName}}!
          </ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label class="text-primary">
            {{userData.fluzLasted}}
          </ion-label>          
          <ion-label class="text-gray-normal">
            Fluz últimos 30 días
          </ion-label>
        </ion-col>
        <ion-col col-3>
          <ion-label class="text-dark">
            +{{userData.fluzTotal}}
          </ion-label>
          <ion-label class="text-gray-normal">
            Fluz totales
          </ion-label>              
        </ion-col>
        <ion-col col-3>
          <ion-label class="text-dark">
            +{{userData.winnerMembers}}
          </ion-label>
          <ion-label class="text-gray-normal">
            Miembros ganadores
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div> 
  <ion-label class="float-label-gray">ACTIVIDAD</ion-label>
  <div class="ctn-background-white">
    <ion-grid>
      <ion-row  *ngIf="activityNetwork.length < 1">
        <ion-col>
          <ion-label class="font-small text-dark font-semi-bold">Aún no tienes actividad en tu Network</ion-label>
        </ion-col>
      </ion-row>
      <ion-row  [@slideIn] *ngFor="let item of activityNetwork"  class="border-b">
        <ion-col>
          <div class="image-product">
            <img src="{{item.img}}">          
          </div>
        </ion-col>
        <ion-col col-8>
          <ion-label class="font-small text-dark font-semi-bold">{{item.name_customer}}</ion-label>
          <ion-label class="font-more-small text-gray-normal font-semi-bold description">Ha comprado <span class="text-primary">{{item.name_product}}</span> y generado {{item.credits}} Fluz</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="padding-h-10">
    <button ion-button color="primary" block (click)="seeMoreActivity()">VER MÁS</button>
  </div>
<!--  <ion-label class="float-label-gray">MI INVITACIÓN</ion-label>-->
  <ion-row>
    <ion-col>
        <ion-label class="float-label-gray">MI INVITACI&Oacute;N</ion-label>
    </ion-col>
  </ion-row>
  <div class="ctn-background-white">  
    <ion-grid>
      <div  class="border-b" [@slideIn] *ngFor="let item of myInvitation"  >
        <div *ngIf="myInvitation?.length == 2">    
            <ion-row>
              <ion-col col-2>
                <div class="image-person">
                  <img src="{{item.img}}"  onerror="this.src='assets/img/user-red.png';">          
                </div>
              </ion-col>
              <ion-col col-4 class="border-b">
                <ion-label class="font-small text-dark font-semi-bold">{{item.firstname}}</ion-label>
              </ion-col>
              <ion-col col-6 item-right class="border-b">
                <div class="ctn-btn-user" (click)="sendMessage(item)">MENSAJE</div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="font-more-small text-gray-normal">Puntos otorgados: {{item.points}}</ion-col>
              <ion-col col-3 class="font-more-small text-gray-normal">Nivel Fluz: {{item.level}}</ion-col>
              <ion-col class="font-more-small text-gray-normal">Fecha creación: {{item.dateadd}}</ion-col>
            </ion-row>  
        </div>
        <div *ngIf="myInvitation?.length == 1">    
            <div>
                <ion-row>
                  <ion-col col-2>
                    <div class="image-person">
                      <img src="{{item.img}}"  onerror="this.src='assets/img/user-red.png';">          
                    </div>
                  </ion-col>
                  <ion-col col-4 class="border-b">
                    <ion-label class="font-small text-dark font-semi-bold">{{item.firstname}}</ion-label>
                  </ion-col>
                  <ion-col col-6 item-right class="border-b">
                    <div class="ctn-btn-user" (click)="sendMessage(item)">MENSAJE</div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="font-more-small text-gray-normal">Puntos otorgados: {{item.points}}</ion-col>
                  <ion-col col-3 class="font-more-small text-gray-normal">Nivel Fluz: {{item.level}}</ion-col>
                  <ion-col class="font-more-small text-gray-normal">Fecha creación: {{item.dateadd}}</ion-col>
                </ion-row>  
            </div>  
            <div>
                <ion-navbar>
                    <ion-title>Invitaci&oacute;n Disponible</ion-title>
                </ion-navbar>
                <ion-row>
                    <form novalidate class="form-invitation" [formGroup]="invitationForm" (ngSubmit)="onSubmit(invitationForm)">
                      <ion-row>   
                        <ion-item col-6>
                          <ion-label floating>Firstname</ion-label>
                          <ion-input type="text" (keyup)="validateInputLogin($event)" formControlName="name" required></ion-input>
                        </ion-item>
                        <ion-item col-6>
                          <ion-label floating>lastname</ion-label>
                          <ion-input type="text" (keyup)="validateInputLogin($event)" formControlName="lastname"  required></ion-input>
                        </ion-item>
                      </ion-row>
                      <ion-item>
                        <ion-label floating>Email Address</ion-label>
                        <ion-input type="email" (keyup)="validateInputLogin($event)" formControlName="email" required></ion-input>
                      </ion-item>
                      <button type='submit' block [disabled]="!enabledLoginButton" class="ng-tns-c0-0 disable-hover button button-md button-default button-default-md button-block button-block-md button-md-primary" block="" color="primary" ion-button="" ng-reflect-color="primary" ng-reflect-block="">
                          <span class="button-inner">Enviar Invitaci&oacute;n</span>
                          <div class="button-effect"></div>
                      </button>
                    </form>
                </ion-row>
            </div>
        </div>    
        {{myInvitation?.length}}    
        <div *ngIf="myInvitation?.length == 0">    
            <div>
                <ion-navbar>
                    <ion-title>Invitaci&oacute;n Disponible</ion-title>
                </ion-navbar>
                <ion-row>
                    <form novalidate class="form-invitation" [formGroup]="invitationForm" (ngSubmit)="onSubmit(invitationForm)">
                      <ion-row>   
                        <ion-item col-6>
                          <ion-label floating>Firstname</ion-label>
                          <ion-input type="text" (keyup)="validateInputLogin($event)" formControlName="name" required></ion-input>
                        </ion-item>
                        <ion-item col-6>
                          <ion-label floating>lastname</ion-label>
                          <ion-input type="text" (keyup)="validateInputLogin($event)" formControlName="lastname"  required></ion-input>
                        </ion-item>
                      </ion-row>
                      <ion-item>
                        <ion-label floating>Email Address</ion-label>
                        <ion-input type="email" (keyup)="validateInputLogin($event)" formControlName="email" required></ion-input>
                      </ion-item>
                      <button type='submit' block [disabled]="!enabledLoginButton" class="ng-tns-c0-0 disable-hover button button-md button-default button-default-md button-block button-block-md button-md-primary" block="" color="primary" ion-button="" ng-reflect-color="primary" ng-reflect-block="">
                          <span class="button-inner">Enviar Invitaci&oacute;n</span>
                          <div class="button-effect"></div>
                      </button>
                    </form>
                </ion-row>
            </div>
        </div>    
      </div>
    </ion-grid>
  </div>
  <!--<ion-label class="float-label-gray">FAVORITOS</ion-label>-->
  <ion-row>
    <ion-col>
      <ion-label class="float-label-gray">MI NETWORK</ion-label>
    </ion-col>
    <ion-col text-right>
      <ion-label text-right class="float-label text-primary">Refinar</ion-label>
    </ion-col>
  </ion-row>
  <div class="ctn-background-white">  
    <ion-grid>
      <ion-row  *ngIf="myNetwork.length < 1">
        <ion-col>
          <ion-label class="font-small text-dark font-semi-bold">Aún no tienes actividad en tu Network</ion-label>
        </ion-col>
      </ion-row>
      <div  class="border-b" [@slideIn] *ngFor="let item of myNetwork"  >
        <ion-row>
          <ion-col col-2>
            <div class="image-person">
              <img src="{{item.img}}"  onerror="this.src='assets/img/user-red.png';">          
            </div>
          </ion-col>
          <ion-col col-4 class="border-b">
            <ion-label class="font-small text-dark font-semi-bold capitalize">{{item.username}}</ion-label>
          </ion-col>
          <ion-col col-6 item-right class="border-b">
            <div class="ctn-btn-user" (click)="sendMessage(item)">MENSAJE</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="font-more-small text-gray-normal">Puntos otorgados: {{item.points}}</ion-col>
          <ion-col col-3 class="font-more-small text-gray-normal">Nivel Fluz: {{item.level}}</ion-col>
          <ion-col class="font-more-small text-gray-normal">Fecha creación: {{item.dateadd}}</ion-col>
        </ion-row>    
      </div>
    </ion-grid>
  </div>
  <div class="padding-h-10">
    <button ion-button color="primary" block (click)="seeMoreMy()">VER MÁS</button>
  </div>
  
  <div class="spacer-25"></div>
  <div class="spacer-25"></div>
  
</ion-content>
