page-product-modal {
  .segment .segment-button.segment-activated{
    border-color: #E1493A;
    opacity: 1;
    color: #E1493A;
    border-width: 0 0 2px 0;
    background-color: color($colors, background-soft);
  }
  .segment-ios .segment-button{
    border-color: #f2f2f2;
  }
  
  .segment-ios .segment-button:first-of-type{
    border-radius: 0px;
  }
  
  .product-father-page{
    .image-manufacturer {
      width: 35%;
    }
    .col {
      padding: 5px;
      .label{
        margin: 5px 0px;
      }
    }
    .text-primary {
      margin-right: 0px;
    }
    .font-extra-small {
      margin: 0;
    }
  }
  
  .search-page {
    .col {
      padding: 5px;
      .label{
        margin: 5px 0px;
      }
    }
    .text-primary {
      margin-right: 0px;
    }
    .font-extra-small {
      margin: 0;
    }
  }
  
  .product-child-page{
    .ctn-title-gray{
      padding-top: 20px;
      .name{
        margin-top: 0px;
      }
      background-color: color($colors, background-soft);
    }
    .image-manufacturer {
      width: 30%;
    }
    .negative-margin{
      margin-top: -35px;
      background-color: color($colors, white);
    }
    .col {
      padding: 5px 0px;
    }
    .button{
      height: 2.4rem;
      margin: 0px;
    }
    .online {
      margin: 0px;
    }
    .description {
      margin: 10px 0;
    }
    .spacer-bottom{
      margin-bottom: 10px;
    }
    .details-product {
      margin: 5px 0;
    }
    .title-instruc {
      margin: 5px;
    }
    .grid {
      padding: 0px;
    }
    .table-titles {
      @extend .background-soft;
      padding: 10px 5px;
    }
    .item-inner{
      .label {
        margin: 0px;
      }
    }

    .segment .segment-button {
      @extend .text-dark;
      background-color: color($colors, background-soft);
      &.segment-activated{
        border-color: #E1493A;
        opacity: 1;
        color: #E1493A;
        border-bottom-width: 2px;
      }
    }
    
    .ctn-btn-buy{
      text-align: right;
    }

    .text-discount{
      margin: 8px 0 0px 0;
    }
    
  }
}
