page-home {
  @extend .font-family;
  .ctn-user-data{
    background-color: color($colors, background-soft);
    .grid {
      padding: 0px;
    }
    .row {
      .col{
        padding: 1px;
        label {margin-top: 7px;}
        .ctn-float-img {
          text-align: center;          
        }
        img {
          height: 2rem;
        }
        @extend .font-normal;
        
        .text-gray-normal{
          @extend .font-extra-small;
        }
        border-left: 1px solid color($colors, gray-soft);
        .label-md {
          margin: 0px 3px;
        }
      }
    }
  }
  
  .card-md{
    margin: 0px;
    width: 100%;
    border-radius: 0px;
  }
  
  .card-background-page {
    ion-card {
      position: relative;
      text-align: center;
    }
    .card-title, .card-md h2 {
      @extend .font-normal;
      position: absolute;
      top: 36%;
      width: 100%;
      color: #fff;
    }
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }
    .swiper-pagination-bullet-active{
      background: color($colors, white);
    }
  }
  
  .ctn-category {
    .title {
      @extend .font-semi-bold;
      @extend .text-dark;
      @extend .font-small;
    }
    .title-view-all{
      @extend .font-semi-bold;
      @extend .text-primary;
      @extend .font-small;
    }
    .title-product{
      @extend .font-semi-bold;
      @extend .text-dark;
      @extend .font-small;
      text-align: left;
      margin: 5px 0px;
    }
    .text-product{
      @extend .text-gray-normal;
      @extend .font-more-small;
      text-align: left;
    }
    .col{
      padding: 0;
    }
  }
  
  .ctn-product-category-img{
    height: 64px;
    position: relative;
    img {
      max-height: 100%;  
      max-width: 100%; 
      width: auto;
      height: auto;
      position: absolute;  
      top: 0;  
      bottom: 0;  
      left: 0;  
      right: 0;  
      margin: auto;
    }
  }
  
  .ctn-category-img {
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  .ctn-ctgry-final{
    padding: 10px;
    background-repeat: none; 
    text-align: center;
    background-size: 165%;
  }
  
  .title-ctgry {
    @extend .font-semi-bold;
    @extend .text-dark;
    @extend .font-small;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 10px;
  }
  .title-view-all{
    @extend .font-semi-bold;
    @extend .text-primary;
    @extend .font-small;
  }

  .card-background-page {
    ion-card {
      position: relative;
      text-align: center;
      img {
        min-height: 85px;
      }
    }
    .card-title-s, .card-md h2 {
      @extend .font-small-normal;
      position: absolute;
      top: 36%;
      width: 100%;
      color: #fff;
    }
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }
    .card-md {
      background-color: color($colors, primary);
      width: 100%;
      margin: 0px;
      min-height: 85px;
      border-radius: 0px;
    }
  }
  
  .scroll {
    height: 100%
  }
 
  #map {
    width: 100%;
    height: 200px;
  }
}
