
<ion-navbar hideBackButton="true" hide-tabs>

  <ion-buttons left>
    
    <button ion-button icon-only *ngIf="modalShow!==true && backButtonShow!==true" navPop>
      <i  class='fluz-fluz-fluz'></i>
    </button>
    <button ion-button icon-only (click)="goTo()" *ngIf="modalShow===true && backButtonShow!==true">
      <i class='fluz-left-arrow'></i>
    </button>
    <button ion-button icon-only (click)="goTo('Back')" *ngIf="backButtonShow===true">
      <i class='fluz-left-arrow'></i>
    </button>
  </ion-buttons>

	<ion-toolbar tappable>
    <ion-searchbar #input [(ngModel)]="searchTerm" (keyup.enter)="search()" (click)="openModalSearch()" placeholder="Buscar por tienda" tappable></ion-searchbar>
  </ion-toolbar>

  <ion-buttons right >
    <div (click)="goTo('CartPage')">
      <div class="countCart" *ngIf='countCart > 0 && !productChildPageBtn'>{{countCart}}</div>
      <button ion-button icon-only *ngIf="!productChildPageBtn">
        <i class='fluz-tienda'></i>
      </button>
    </div>
    <div *ngIf="productChildPageBtn">
      <button ion-button icon-only (click)="goTo('Home')" *ngIf="!showProductChildBtn">
        <i class='fluz-left-arrow'></i>
      </button>
      <button ion-button icon-only navPop *ngIf="showProductChildBtn">
        <i class='fluz-left-arrow'></i>
      </button>
      
    </div>
  </ion-buttons>
</ion-navbar>