page-header {
  
  ion-toolbar{
    .toolbar-background-ios{
      border-width: 0px !important;
    }
  }
  
  .searchbar .searchbar-input {
    background-color: color($colors, background-soft);
    text-align: center;
    box-shadow: none;
  }
  .searchbar .searchbar-input {
    @include font-size(14px);
  }
  
  .fluz-left-arrow {
    @extend .font-normal;
  }
  
  .countCart {
    background-color: color($colors, primary);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: color($colors, white);
    font-size: 1.2rem;
    position: fixed;
    float: right;
    right: 0;
    top: 0;
    z-index: 999;
  }
}
