
<ion-navbar hideBackButton="true" hide-tabs>

  <ion-buttons left>
    
    <button ion-button icon-only *ngIf="modalShow!==true && backButtonShow!==true">
      <i  class='fluz-fluz-fluz'></i>
    </button>
    <button ion-button icon-only (click)="goTo()" *ngIf="modalShow===true && backButtonShow!==true">
      <i class='fluz-left-arrow'></i>
    </button>
    <button ion-button icon-only (click)="goTo('Back')" *ngIf="backButtonShow===true">
      <i class='fluz-left-arrow'></i>
    </button>
  </ion-buttons>

	<ion-toolbar>
    <ion-searchbar [(ngModel)]="searchTerm" (input)="search($event)" (click)="openModalSearch()" #input placeholder="Buscar por tienda"></ion-searchbar>
  </ion-toolbar>

  <ion-buttons right>
    <button ion-button icon-only (click)="goTo('CartPage')">
      <i class='fluz-tienda'></i>
    </button>
  </ion-buttons>
	
</ion-navbar>