page-header {
  .searchbar-md .searchbar-input {
    background-color: color($colors, background-soft);
    text-align: center;
    box-shadow: none;
  }
  .searchbar-md .searchbar-input {
    @include font-size(10px);
  }
}
