// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.



/* Colores */
.dark          {color: color($colors, dark);}
.gray-soft     {color: color($colors, gray-soft);}
.gray-normal   {color: color($colors, gray-normal);}
.gray-dark     {color: color($colors, gray-dark);}
.primary       {color: color($colors, primary);}
.secondary     {color: color($colors, secondary);}
.white         {color: color($colors, white);}
.green         {color: color($colors, green);}
.yellow        {color: color($colors, yellow);}

/* Textos del tema*/
  
  /* Colores*/
    .text-dark        {@extend .font-family; @extend .dark;}
    .text-gray-soft   {@extend .font-family; @extend .gray-soft;}
    .text-gray-normal {@extend .font-family; @extend .gray-normal;}
    .text-gray-dark   {@extend .font-family; @extend .gray-dark;}
    .text-primary     {@extend .font-family; @extend .primary;}
    .text-secondary   {@extend .font-family; @extend .secondary;}
    
  /* Mixin word-wrap */
    @mixin word-wrap() {
      white-space: -moz-pre-wrap; /* Firefox */
      white-space: -o-pre-wrap;   /* Opera   */
      white-space: pre-wrap;      /* Chrome  */
        word-wrap: break-word;    /* IE      */
    }
    
    @function calculateRem($size) {
    $remSize: $size / 10px;
    @return $remSize * 1rem;
    }

    @mixin font-size($size) {
      font-size: $size;
      font-size: calculateRem($size);
    }
    
  /*Fuentes del tema*/
  .font-family {
    font-family: $font-family;
  }
  
  .font-extra-small {
    @extend .font-family;
    @include font-size(8px);
  }
  
  .font-more-small {
    @extend .font-family;
    @include font-size(11px);
  }
  
  .font-small {
    @extend .font-family;
    @include font-size(14px);
  }
  
  .font-small-normal {
    @extend .font-family;
    @include font-size(20px);    
  }
  
  .font-normal {
    @extend .font-family;
    @include font-size(25px);
  }
  
  .font-big {
    @extend .font-family;
    @include font-size(35px);
  }
  
  .font-extra-big {
    @extend .font-family;
    @include font-size(45px);
  }
  
  .font-semi-bold {
    font-weight: 600 !important
  }
/* Contenedor del tema */
  .ctn-float {
    margin: 20px 10px;
    padding: 15px;
    border: 1px solid color($colors, gray-soft);
  }
  
  .border-primary {
    border-bottom: 2px solid color($colors, primary);
  }
  
  .border {
    border: 1px solid color($colors, gray-soft);
  }
  
  .border-b {
    border-bottom: 1px solid color($colors, gray-soft);
  }
  
  .border-r {
    border-right: 1px solid color($colors, gray-soft);
  }
  
//Logo fluzfluz Header
.fluz-fluz-fluz {
  @extend .font-extra-big;
  color: color($colors, dorado);
  margin-left: 5px;
}
//Logo tienda
.fluz-tienda {
  font-size: 3rem;
}

//Titulo de las vistas
.toolbar-title-md,
//texto de los botones
.button-inner {
  @extend .font-semi-bold;
}


.footer {
  .toolbar-title-md {
    @extend .font-small;
    text-align: center;
  }
}

.capitalize {
  text-transform: capitalize;
}



// Custom icons
// Overriding the ion-icon behavior
// All custom icons will start with "appname-" prefix
ion-icon {
    &[class*="fluz-"] {
        // Instead of using the font-based icons
        // We're applying SVG masks
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 1em;
        height: 1em;
    }
    // custom icons
      //Tabs
        &[class*="fluz-home"] {
         mask-image: url(../assets/icon/tabs/home.svg);
        }
        &[class*="fluz-vault"] {
         mask-image: url(../assets/icon/tabs/vault.svg);
        }
        &[class*="fluz-redemption"] {
         mask-image: url(../assets/icon/tabs/redemption.svg);
        }
        &[class*="fluz-network"] {
         mask-image: url(../assets/icon/tabs/network.svg);
        }
        &[class*="fluz-more-3"] {
         mask-image: url(../assets/icon/tabs/more.svg);
        }
}

.background-soft {
  background-color: color($colors, background-soft);
}
.background-white {
  background-color: color($colors, white);
}
.background-primary {
  background-color: color($colors, primary);
}

.padding-5 {
  padding: 5px;
} 
.padding-h-5{
  padding: 0 5px;
}
.padding-h-8{
  padding: 0 8px;
}
.padding-10{
  padding: 10px;  
}
.padding-h-10{
  padding: 0 10px;  
}

.margin-t-5{
  margin-top: 5px;
}

.margin-5 {
  margin: 5px;
}

.margin-v {
  margin: 5px 0px;
}

.spacer-10 {
  height: 10px;
}

.spacer-25{
  height: 25px;
}

.invisibleButton {
    height:10px;
    width:40px;
}

.wrap {
  white-space: normal;
}

.overflow{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

ion-title {
  .toolbar-title-md{
    @extend .font-small;
  }
}

.text-right{
  text-align: right;
}

.inner-html{
  white-space: normal !important;
  span, li {
    @extend .font-small;
    @extend .text-dark;
    list-style-type: none;
  }
  li {
    padding-bottom: 10px;
  }
  ul{
    padding: 0px;
  }
}


.bar-button-md[icon-only] ion-icon {
  font-size: 2.8em;
}
