<!--
  Generated template for the Checkout page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title text-center>CHECKOUT<button ion-button clear class="invisibleButton"></button></ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding class="background-soft">
  
  <div class="ctn-pagos background-white">
    <div class="row" (click)="selectedPayment(1)">
      <i class='fluz-tarjeta' item-start></i>
      <ion-label class="text-dark">Terminacion de la tarjeta 4556</ion-label>
      <ion-icon [name]="payment == 1 ? 'md-checkmark' : 'ios-arrow-forward'"></ion-icon>
    </div>
    <div class="row" (click)="selectedPayment(2)">
      <i class='fluz-tarjeta' item-start></i>
      <ion-label class="text-dark">Pagar con Fluz</ion-label>
      <ion-icon [name]="payment == 2 ? 'md-checkmark' : 'ios-arrow-forward'"></ion-icon>
    </div>
    <div class="row" (click)="selectedPayment(3)">
      <i class='fluz-tarjeta' item-start></i>
      <ion-label class="text-dark">Pagar con tarjeta de crédito nueva</ion-label>
      <ion-icon [name]="payment == 3 ? 'md-checkmark' : 'ios-arrow-forward'"></ion-icon>
    </div>
    <div class="row" (click)="selectedPayment(4)">
      <i class='fluz-tarjeta' item-start></i>
      <ion-label class="text-dark">Pagar con tranferencia bancaria</ion-label>
      <ion-icon [name]="payment == 4 ? 'md-checkmark' : 'ios-arrow-forward'"></ion-icon>
    </div>
    <div class="row">
      <ion-label class="text-gray-normal padding-h-8">Por favor seleccione un método de pago</ion-label>
    </div>
  </div>

  <div class="ctn-resume">
    <ion-row class="ctn-title">
      <ion-label class="text-dark">Resumen de pedido</ion-label>
    </ion-row>
    <ion-grid class="font-small text-dark" no-padding *ngFor="let item of products">
      <div class="swipeable" [style.margin-left]="displayOptions">
        <ion-row side="left" class="border-b padding-h-5 background-white">
          <ion-col class="background-white">
            <div class="image-product">
              <img src="{{item.image_manufacturer}}">          
            </div>
          </ion-col>
          <ion-col class="product-name background-white">
            <ion-label class="font-semi-bold">{{item.name}}</ion-label>
            <ion-label class="font-more-small text-gray-normal">Vencimiento: 10/10/2017</ion-label>
          </ion-col>
          <ion-col>
            <ion-label class="font-more-small font-semi-bold padding-h-5" text-right>Cantidad</ion-label>
            <ion-label class="font-small font-semi-bold padding-h-5" text-right>{{item.quantity}}</ion-label>
          </ion-col>
        </ion-row>
      </div>
      <div class="ctn-costos">
        <ion-row class="font-more-small text-gray-normal titles padding-h-5">
          <ion-col col-3 text-left>Valor En Tienda</ion-col>
          <ion-col col-3 text-left>Fluz a Recibir</ion-col>
          <ion-col col-3 text-left>Precio En Fluz</ion-col>
          <ion-col col-3 text-left>Precio</ion-col>
        </ion-row>
        <ion-row class="padding-5">
          <ion-col col-3 text-left>${{item.price_shop}}</ion-col>
          <ion-col col-3 text-left>+{{item.points}}</ion-col>
          <ion-col col-3 text-left>-{{item.price_in_points}}</ion-col>
          <ion-col col-3 text-left>${{item.total}}</ion-col>
        </ion-row>
      </div>
      <div class="ctn-info">
        <ion-row class="ctn-terms padding-h-5">
          <ion-col>
            <ion-label item-left class="text-dark" *ngIf="item.is_virtual==1">Solo Online</ion-label>
          </ion-col>
          <ion-col text-right>
            <ion-label item-right class="text-primary font-more-small terms">Términos y condiciones</ion-label>
          </ion-col>
        </ion-row>        
      </div>
    </ion-grid>
    <div class="cart-values text-dark">
      <ion-list>
        <ion-item>
          <ion-label class="font-small">Subtotal:</ion-label>
          <ion-label class="font-small" text-right>{{cart.format_total_products}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="font-small">Impuesto:</ion-label>
          <ion-label class="font-small" text-right>COP $0.00</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="font-small">Valor:</ion-label>
          <ion-label class="font-small"text-right>{{cart.format_total_products_wt}}</ion-label>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item>
          <ion-label class="font-small">PRECIO TOTAL:</ion-label>
          <ion-label class="font-small" text-right>{{cart.format_order_total}}</ion-label>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item>
          <ion-label class="font-more-small">PRECIO EN FLUZ:</ion-label>
          <ion-label class="font-small" text-right>-{{cart.total_price_in_points}}</ion-label>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item>
          <ion-label class="font-more-small text-primary">TUS AHORROS:</ion-label>
          <ion-label class="font-small text-primary" text-right>${{cart.total_savings_in_value}} ({{cart.total_savings_in_percent}}%)</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="font-more-small text-primary">FLUZ GANADOS:</ion-label>
          <ion-label class="font-small text-primary" text-right>+ {{cart.total_fluz}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="font-more-small text-primary">PRECIO EN FLUZ:</ion-label>
          <ion-label class="font-small text-primary" text-right>+ {{cart.total_price_in_points}}</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <div class="spacer-25"></div>
  <div class="spacer-25"></div>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary"  *ngIf="payment > 0" (click)="goTo('payment')">
    <ion-title>CONFIRMAR PAGO</ion-title>
  </ion-toolbar>
</ion-footer>
