page-paymentfluz {
  @extend .font-family;
  .ctn-payfluz{
    border: 1px solid color($colors, gray-soft);
    margin: 10px;
    border-radius: 2px;
    .ctn-title {
      @extend .font-small;
      @extend .background-white;
      @extend .font-semi-bold;
      padding: 0 10px;
      border-bottom: 1px solid color($colors, gray-soft);
    }
    .range.range-has-pin{
      padding: 0 8px;
    }
    .range {
      padding: 0 8px;
    }
    ion-input{
      border: 1px solid color($colors, gray-soft);
      border-radius: 2px;
      background-color: color($colors, background-soft);
    }
    .padding-number-fluz {
      padding: 0 8px 10px 8px;
    }
    .cart-values {
      margin-top: 1px;
      .list {
        margin: 0px;
      }
      .list .item-block .item-inner {
        border-bottom: none;
      }
      ion-list {
        width: 100%;
        .item {
          padding-left: 13px;
        }
      }
    }
  }
  .ctn-pagos{
    border: 1px solid color($colors, gray-soft);
    margin: 10px;
    border-radius: 2px;
    row {
      border: 1px solid color($colors, gray-soft);
    }
    div {
      i {
        @extend .font-normal;
        @extend .text-gray-normal;
        padding: 8px;
      }
      ion-icon{
        @extend .gray-normal;
        @include font-size(25px);
        padding: 8px;
      }
      ion-icon.icon.icon-md.ion-md-checkmark {
        @extend .primary;
      }
    }
  }
}
