<!--
  Generated template for the ProfileModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <page-header (updateCountCart)='updateCountCart($event)'></page-header>
  </ion-navbar>
</ion-header>


<ion-content no-padding class="background-soft">
  <div class="background-white">
    <div class="background-primary ctn-img">
      <img src="{{customer.img}}" onerror="this.src='assets/img/user-red.png';">
    </div>
    <ion-grid class="ctn-info-profile">
      <ion-row>
        <ion-col>
          <ion-label class="margin-v text-dark font-more-small font-semi-bold">Fluz otorgados:</ion-label>
          <ion-label class="margin-v text-gray-normal">{{customer.points}}</ion-label>
        </ion-col>
        <ion-col>
          <ion-label class="margin-v text-dark font-more-small font-semi-bold" text-right>Nivel Fluz:</ion-label>
          <ion-label class="margin-v text-gray-normal" text-right>{{customer.level}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4>
        </ion-col>
        <ion-col col-4>
          <ion-label class="text-dark font-small font-semi-bold name-profile" text-center>{{customer.username}}</ion-label>
        </ion-col>
        <ion-col col-4>
          <div class="ctn-btn-user text-right" (click)="sendMessage(customer)">MENSAJE</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  
  <div class="ctn-ivited">
    <ion-row>
      <ion-col>
        <ion-label class="float-label-gray">USUARIOS INVITADOS</ion-label>
      </ion-col>
    </ion-row>
    <div class="ctn-background-white">
      <ion-grid>
        <div *ngIf="invitated.total > 0">
          <div class="border-b" *ngFor="let item of invitated.result">
            <ion-row>
              <ion-col col-2>
                <div class="image-person">
                  <img src="{{item.img}}"  onerror="this.src='assets/img/user-red.png';">          
                </div>
              </ion-col>
              <ion-col col-4 class="border-b">
                <ion-label class="font-small text-dark font-semi-bold capitalize" (click)="openCustomer(item)">{{item.username}}</ion-label>
              </ion-col>
              <ion-col col-6 text-right class="border-b">
                <div *ngIf="item.status=='Pendiente'">
                  <p class="font-more-small text-gray-normal text-pend-sty">Estado: <span class="status-pending">{{item.status}}</span></p>
                </div>
                <div *ngIf="item.status=='Confirmado'">
                  <div class="ctn-btn-user" (click)="sendMessage(item)">MENSAJE</div>
                  <div class="font-more-small text-gray-normal margin-t-5">Estado: <span class="status-confirm">{{item.status}}</span></div>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="font-more-small text-gray-normal">Fluz otorgados: {{item.points}}</ion-col>
              <ion-col col-3 class="font-more-small text-gray-normal">Nivel Fluz: {{item.level}}</ion-col>
              <ion-col text-right class="font-more-small text-gray-normal">Fecha creación: {{item.dateadd}}</ion-col>
            </ion-row>    
          </div>
        </div>
        <div *ngIf="invitated.total < 2 && customer.autoaddnetwork == 0">
          <div *ngIf="showInvitationForm">
            <form class="form-invitation" [formGroup]="invitationForm">
              <ion-row>
                <ion-item col-6>
                  <ion-label floating>Nombre</ion-label>
                  <ion-input type="text" required (keyup)="validateInput($event)" [formControl]="invitationForm.controls['firtsname']"></ion-input>
                </ion-item>
                <ion-item col-6>
                  <ion-label floating>Apellido</ion-label>
                  <ion-input type="text" required (keyup)="validateInput($event)" [formControl]="invitationForm.controls['lastname']"></ion-input>
                </ion-item>
              </ion-row>
              <ion-row>
                <ion-item col-12>
                  <ion-label floating>Correo</ion-label>
                  <ion-input type="email" required (keyup)="validateInput($event)" [formControl]="invitationForm.controls['email']"></ion-input>
                </ion-item>
              </ion-row>
              <ion-row (click)="updateWhatsapp()">
                <ion-col col-2 class="ctn-whatsapp">
                  <ion-icon name="logo-whatsapp" class="whatsapp-icon"></ion-icon>
                </ion-col>
                <ion-col col-8>
                  <ion-label class="font-small text-dark font-semi-bold wrap">Enviar invitación a través de Whatsapp</ion-label>
                </ion-col>
                <ion-col col-2>
                  <ion-toggle color="green" checked="false" (ionChange)="validateInput($event)" [formControl]="invitationForm.controls['whatsapp']"></ion-toggle>
                </ion-col>
              </ion-row>
              <div *ngIf="invitationForm.value['whatsapp']">
                <ion-row>
                  <ion-col col-12>
                    <ion-label class="font-small text-dark wrap">Selecciona el indicativo de pais, y escribe el número de tu invitado.</ion-label>
                  </ion-col>
                </ion-row>
                <ion-row (click)="openModalCountry()">
                  <ion-col col-2>
                    <div class="ctn-img-flag">
                      <img src="{{countries.flag}}">
                    </div>
                  </ion-col>
                  <ion-col col-9>
                    <ion-label class="font-semi-bold">{{countries.callingCodes}} {{countries.name}}</ion-label>
                  </ion-col>
                  <ion-col col-1 class="background-soft">
                    <div text-center>
                      <ion-icon name="ios-arrow-forward" class="icon-country"></ion-icon>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-item no-padding>
                    <ion-input class="confimNumber" type="number" (keyup)="validateInput($event)" [formControl]="invitationForm.controls['telephone']"  placeholder="XXXXXXXXXX"></ion-input>
                  </ion-item>
                </ion-row>
              </div>
              <ion-row>
                <ion-col (click)="toggleInvitation()">
                  <button ion-button color="primary" block>CANCELAR</button>
                </ion-col>
                <ion-col>
                  <button ion-button color="primary" block [disabled]="!enabledInvitationButton" (click)="sendInvitation(invitationForm.value)">ACEPTAR</button>
                </ion-col>
              </ion-row>
            </form>
          </div>
          <div *ngIf="!showInvitationForm">
            <ion-row (click)="toggleInvitation()">
              <ion-col text-center>
                <ion-label class="font-small text-dark font-semi-bold ctn-btn-invitation">Invitar a nombre de {{customer.username}}</ion-label>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </ion-grid>
    </div>
  </div>
  
  
  <ion-label class="float-label-gray">ACTIVIDAD RECIENTE</ion-label>
  <div class="ctn-background-white">
    <ion-grid>
      <ion-row *ngIf="activity.total < 1">
        <ion-col>
          <ion-label class="font-small text-dark font-semi-bold">Aún no tienes actividad en tu Network</ion-label>
        </ion-col>
      </ion-row>
      <div *ngIf="activity.total > 0">
        <ion-row *ngFor="let item of activity.result"  class="border-b">
          <ion-col>
            <div class="image-product" (click)="openProduct(item)">
              <img src="{{item.img}}">          
            </div>
          </ion-col>
          <ion-col col-8>
            <ion-label class="font-small text-dark font-semi-bold">{{item.name_customer}}</ion-label>
            <ion-label class="font-more-small text-gray-normal font-semi-bold description">Ha comprado <span class="text-primary" (click)="openProduct(item)">{{item.name_product}}</span> y generado {{item.credits}} Fluz</ion-label>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </div>
  
</ion-content>
