<ion-header>
  <page-header (updateCountCart)='updateCountCart($event)'></page-header>
</ion-header>


<ion-content no-padding>
  <div text-center class="ctn-title-gray">
    <ion-label class="font-small text-dark font-semi-bold name">{{productFather.p_name}}</ion-label>
    <div>
      <img class="image-manufacturer" src="{{manufacturer.image_manufacturer}}">
    </div>
  </div>
  <ion-grid class="negative-margin">
    <ion-row class="padding-h-5">
      <ion-col>
        <!--<ion-label text-left class="font-small text-dark font-semi-bold description">Descripción +</ion-label>-->
      </ion-col>
      <ion-col *ngIf="productFather.online_only == 1">
        <ion-label text-right class="font-small text-gray-normal font-semi-bold online">Solamente<br><span class="text-dark">online</span></ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="font-extra-small text-dark font-semi-bold">
    <ion-row class="padding-h-5 table-titles">
      <ion-col col-3 text-left>VALOR EN TIENDA</ion-col>
      <ion-col col-2 text-center *ngIf="showSavings">%AHORRO</ion-col>
      <ion-col text-center>FLUZ A RECIBIR</ion-col>
      <ion-col text-center>PRECIO EN FLUZ</ion-col>
      <ion-col col-2 text-right>PRECIO</ion-col>
    </ion-row>
    <div  *ngFor="let item of productChild.result" class="border-b">
      <ion-row class="padding-h-5 margin-t-5 font-more-small">
        <ion-col col-3 text-left>{{item.type_currency}} ${{item.c_price_shop_format}}</ion-col>
        <ion-col col-2 text-center *ngIf="showSavings">{{item.c_percent_save}}%</ion-col>
        <ion-col text-center>+{{item.c_win_fluz}}</ion-col>
        <ion-col text-center>-{{item.c_price_fluz}}</ion-col>
        <ion-col col-2 text-right>${{item.c_price}}</ion-col>
      </ion-row>
      <ion-row class="spacer-bottom padding-h-5">
        <!--<ion-label class="text-gray-normal details-product">Detalles +</ion-label>-->
        <button ion-button item-right color="primary" class="font-extra-small" (click)="addToCart(item.c_id_product)">COMPRAR</button>
      </ion-row>
    </div>
  </ion-grid>
  <div *ngIf="showMapProductPage">
    
    <ion-label class="font-small font-semi-bold text-dark title-instruc">Tiendas</ion-label>
    <div #map id="map"></div>

    <br>
    <ion-label class="font-small font-semi-bold text-dark title-instruc">Instrucciones Bonos</ion-label>
  </div>
  
  <div *ngIf="instragramData.total > 0">
    <ion-row class="border-b ctn-insta-title" (click)="openInstagram(instragramData.instagram_profile)">
      <ion-col col-2>
        <div class="ctn-image-social">
          <img src="assets/icon/social/instagram.png">
        </div>
      </ion-col>
      <ion-col col-10>
        <ion-label class="font-small font-semi-bold text-dark title-instruc">@{{instragramData.instagram_profile}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-slides [autoplay]="4000" [loop]="true"  [speed]="300" *ngIf="countInstagramData > 1" [slidesPerView]="3" [spaceBetween]="10">
      <ion-slide *ngFor="let slide of instragramData.imageData">
        <ion-card (click)="openImageInstagram(slide.link)">
          <img src="{{slide.imgsmall.src}}"/>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
<!--  <ion-row (click)="openInstagramApp(instragramData.instagram_profile)">
    <h1>insta</h1>
  </ion-row>-->
  
  <div no-padding>
    <ion-segment [(ngModel)]="inform">
      <ion-segment-button value="instructions" no-padding>
        Instrucciones Bonos
      </ion-segment-button>
      <ion-segment-button value="terms" no-padding>
        Terminos y Condiciones
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="inform">
    <ion-list *ngSwitchCase="'instructions'">
      <ion-item>
        <div class="inner-html" [innerHTML] = "'<p>' + terms + '</p>'"></div>
        <!--{{intructions}}-->       
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'terms'">
      <ion-item>
        <div class="inner-html" [innerHTML] = "'<p>' + intructions + '</p>'"></div>
      </ion-item>
    </ion-list>
  </div>
  
  
</ion-content>
