page-product-child {
  .ctn-btn-footer {
    @extend .text-white;
    @extend .font-small;
    text-align: center;
    display: inline-block;
    width: 90%;
    border: 1px solid;
    padding: 3px;
    min-height: 35px;
    line-height: 35px;
  }
  .margin-2{
    margin: 2px;
  }
  
  .segment .segment-button.segment-activated{
    border-color: #E1493A;
    opacity: 1;
    color: #E1493A;
    border-width: 0 0 2px 0;
    background-color: color($colors, background-soft);
  }
  .segment-ios .segment-button{
    border-color: #f2f2f2;
  }
  
  .segment-ios .segment-button:first-of-type{
    border-radius: 0px;
  }
  
  .ctn-title-gray{
    padding-top: 20px;
    .name{
      margin-top: 0px;
    }
    background-color: color($colors, background-soft);
  }
  .image-manufacturer {
    width: 30%;
  }
  .negative-margin{
    min-height: 40px;
    margin-top: -35px;
    background-color: color($colors, white);
  }
  .col {
    padding: 5px 0px;
  }
  .button{
    height: 2.4rem;
    margin: 0px;
  }
  .online {
    margin: 0px;
  }
  .description {
    margin: 10px 0;
  }
  .spacer-bottom{
    margin-bottom: 10px;
  }
  .details-product {
    margin: 5px 0;
  }
  .title-instruc {
    margin: 5px;
  }
  .grid {
    padding: 0px;
  }
  .table-titles {
    @extend .background-soft;
    padding: 10px 5px;
  }
  .item-inner{
    .label {
      margin: 0px;
    }
  }
  
  .segment .segment-button {
    @extend .text-dark;
    background-color: color($colors, background-soft);
    &.segment-activated{
      border-color: #E1493A;
      opacity: 1;
      color: #E1493A;
      border-bottom-width: 2px;
    }
  }
  
  .scroll {
    height: 100%
  }
 
  #map {
    width: 100%;
    height: 200px;
  }
  
  .ctn-image-social{
    padding: 5px;
    text-align: center;
    img {
      max-width: 70%;
    }
  }
  
  .ctn-insta-title{
    align-items: center;
    .col {
      padding: 0px;
    }
  }
  
  .ctn-btn-buy{
    text-align: right;
  }
  
  .text-discount{
    margin: 8px 0 0px 0;
  }
  
}
