<ion-header>
  <page-header (updateCountCart)='updateCountCart($event)' [showProductChildBtn]="true" #header></page-header>
</ion-header>


<ion-content no-padding>
  <div text-center class="ctn-title-gray">
    <ion-label class="font-small text-dark font-semi-bold name">{{productFather.p_name}}</ion-label>
    <div>
      <img class="image-manufacturer" src="{{manufacturer.image_manufacturer}}">
    </div>
  </div>
  <ion-grid class="negative-margin">
    <ion-row class="padding-h-5">
      <ion-col>
        <!--<ion-label text-left class="font-small text-dark font-semi-bold description">Descripción +</ion-label>-->
      </ion-col>
      <ion-col *ngIf="productFather.online_only == 1">
        <ion-label text-right class="font-small text-gray-normal font-semi-bold online">Solamente<br><span class="text-dark">online</span></ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="font-extra-small text-dark font-semi-bold">
    <ion-row class="padding-h-5 table-titles">
      <ion-col col-3 text-left>VALOR EN TIENDA</ion-col>
      <ion-col col-3 text-center>FLUZ A RECIBIR</ion-col>
      <ion-col col-3 text-center>PRECIO EN FLUZ</ion-col>
      <ion-col col-3></ion-col>
    </ion-row>
    <div  *ngFor="let item of productChild.result" class="border-b">
      <ion-row class="padding-h-5 margin-t-5 font-more-small" align-items-center>
        <ion-col col-3 text-left>
          {{item.type_currency}} ${{item.c_price_shop_format}}
          <div *ngIf="item.c_price_shop_format != item.c_price">
            <ion-label class="ctn-price-in-shop text-primary font-extra-small text-discount">COP PRECIO</ion-label>
            <!--<ion-label class="ctn-price-in-shop text-primary margin-v">${{item.c_price_shop_format}} <span style='text-decoration:line-through'>${{item.c_price}}</span></ion-label>-->  
            <ion-label class="ctn-price-in-shop text-primary margin-v" *ngIf="item.type_currency != 'USD'">${{item.c_price}} <span class="strike wrap">${{item.c_price_shop_format}}</span></ion-label>
            <ion-label class="ctn-price-in-shop text-primary margin-v" *ngIf="item.type_currency == 'USD'">${{item.c_price}}</ion-label>  
          </div>
        </ion-col>
        <ion-col col-3 text-center class="text-green">+{{item.c_win_fluz}}</ion-col>
        <ion-col col-3 text-center>-{{item.c_price_fluz}}</ion-col>
        <ion-col col-3 class="ctn-btn-buy">
          <button ion-button item-right  color="primary" class="font-extra-small" *ngIf="showBuyBtn" (click)="addToCart(item.c_id_product)">COMPRAR</button>
         </ion-col>
       </ion-row>
     </div>
  </ion-grid>
  <div *ngIf="showMapProductPage">
    
    <ion-label class="font-small font-semi-bold text-dark title-instruc">Tiendas</ion-label>
    <div #map id="map"></div>

    <br>
    <ion-label class="font-small font-semi-bold text-dark title-instruc">Instrucciones Bonos</ion-label>
  </div>
  
  <div *ngIf="instragramData.total > 0">
    <ion-row class="border-b ctn-insta-title" (click)="openInstagram(instragramData.instagram_profile)">
      <ion-col col-2>
        <div class="ctn-image-social">
          <img src="assets/icon/social/instagram.png">
        </div>
      </ion-col>
      <ion-col col-10>
        <ion-label class="font-small font-semi-bold text-dark title-instruc">@{{instragramData.instagram_profile}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-slides [autoplay]="4000" [loop]="true"  [speed]="300" *ngIf="countInstagramData > 1" [slidesPerView]="3" [spaceBetween]="10">
      <ion-slide *ngFor="let slide of instragramData.imageData">
        <ion-card (click)="openImageInstagram(slide.link)">
          <img src="{{slide.imgsmall.src}}"/>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
<!--  <ion-row (click)="openInstagramApp(instragramData.instagram_profile)">
    <h1>insta</h1>
  </ion-row>-->
  
  <div no-padding>
    <ion-segment [(ngModel)]="inform">
      <ion-segment-button value="instructions" no-padding>
        Instrucciones Bonos
      </ion-segment-button>
      <ion-segment-button value="terms" no-padding>
        Terminos y Condiciones
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="inform">
    <ion-list *ngSwitchCase="'instructions'">
      <ion-item>
        <br>
        <div class="inner-html" [innerHTML] = "'<p>' + terms + '</p>'"></div>
        <!--{{intructions}}-->       
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'terms'">
      <ion-item>
        <br>
        <div class="inner-html" [innerHTML] = "'<p>' + intructions + '</p>'"></div>
      </ion-item>
    </ion-list>
  </div>
  <div class="spacer-25"></div>
  <div class="spacer-25"></div>
  
</ion-content>

<ion-footer *ngIf="infoFooter.number > 0" [@slideIn]>
  <ion-toolbar color="primary" (click)="openCart()">
    <ion-row align-items-center>
      <ion-col col-3>
        <div class="image-product">
          <img src="{{infoFooter.img}}">
        </div>
      </ion-col>
      <ion-col col-5>
        <ion-label class="font-small text-white font-semi-bold margin-2">{{infoFooter.number}} Códigos</ion-label>
        <ion-label class="font-more-small text-white font-semi-bold margin-2 wrap">Subtotal: {{infoFooter.subtotal}}</ion-label>
      </ion-col>
      <ion-col col-4>
        <div class="ctn-btn-footer text-right">CHECKOUT</div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>