page-messages-modal {
  .grid {
    padding: 0px;
  }
  .img {
    max-width: 90%;
  }
  .btn-close {
    margin: 8px;
    text-align: center;
    ion-icon {
      font-size: 2.4rem;
    }
  }
  .ctn-background-white {
    @extend .background-white;
    border: 1px solid color($colors, gray-soft);
    padding: 5px;
    ion-label .label-md, .label{
      margin: 5px 0px;
    }
    .hour {
      margin: 0;
      text-align: right;
    }
  }
}
