page-bonus {
  .ctn-refine{
    padding: 5px;
    margin: 10px;
  }
  
  .button-md-primary {
    width: 100%;
  }
  .ctn-bonus {
    padding: 0px;
    .static-height{
      height: 70px;
    }
    .ctn-info-bonus{
      .col {
        .fluz-passcodeB {
          @extend .font-more-small;
          width: 15%;
          height: 20px;
          vertical-align: middle;
          line-height: 18px;
          float: left;
        }
        .text-spacer {
          margin: 5px 0px;
          width: 85%;
        }
      }
      .label{
        margin: 5px 0px;
      }
      .text-spacer{
        margin: 13px 0px;
      }
      @extend .border;
      @extend .background-white;
      margin: -35px 8px 8px 5px;
      padding: 8px;
    }
  }
  
  .ctn-details{
    .display-inline{
      display:inline-block;
    }
    .row {
      .col {
        .radio {
          margin: 13px 8px 13px 0;
        }
      }
    }
    .ctn-accordeon-title{
      @extend .background-white;
      @extend .border-b;
      margin-bottom: 1px;
      .row {
        padding: 0 10px;        
      }
    }
    .ctn-accordeon-details{
      @extend .background-white;
      padding: 0 10px;
      .item {
        padding-left: 0px;
      }
    }
  }
  
  .scroll {
    height: 100%
  }
 
  #map {
    width: 100%;
    height: 200px;
  }
}
