<!--
  Generated template for the Bonus page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-buttons left>
      <button ion-button icon-only>
        <i class='fluz-fluz-fluz'></i>
      </button>
    </ion-buttons>
    <ion-title text-center>BONOS</ion-title>
    <ion-buttons right>
      <button ion-button icon-only navPop><!--(click)="goTo()"-->
        <ion-icon name='ios-arrow-round-back'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding class="background-soft">
  <ion-row class="border-b ctn-refine">
    <ion-col text-left class="title">{{bonusT}} Bonos total</ion-col>
    <ion-col text-right class="title-view-all font-semi-bold">Refinar</ion-col>
  </ion-row>
  <ion-grid class="ctn-bonus"  *ngFor="let item of bonus">
    <ion-row class="static-height">
      <ion-col col-4 offset-4>
        <img src="{{manufacturer.m_img}}">        
      </ion-col>
    </ion-row>
    <div class="ctn-info-bonus">
      <ion-row class="border-b">
        <ion-col col-6>
          <ion-label class="text-spacer">{{manufacturer.manufacturer_name}}</ion-label>
        </ion-col>
        <ion-col col-6>
          <ion-label text-right class="text-spacer text-primary" (click)="toggleDetails(item)">Ver mas</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="border-b">
        <ion-col>
          <div text-left>
            <ion-label class="font-more-small text-gray-normal">Vencimiento</ion-label>
            <ion-label class="font-small">{{item.expiration}}</ion-label>
          </div>
        </ion-col>
        <ion-col>
          <div text-center>
            <ion-label class="font-more-small text-gray-normal" *ngIf="item.is_virtual == 1">Tipo de bono:</ion-label>            
            <ion-label class="font-small" *ngIf="item.is_virtual == 1">Solo Online</ion-label>
          </div>
        </ion-col>
        <ion-col>
          <div text-right>
            <ion-label class="font-more-small text-gray-normal">Valor:</ion-label>
            <ion-label class="font-small">${{item.price}}</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div text-center>
            <ion-label class="font-more-small text-primary">Toque para copiar</ion-label>            
            <ion-label class="font-normal">{{item.card_code}}</ion-label>            
          </div>
        </ion-col>
      </ion-row>
    </div>
    <div class="ctn-details" *ngIf="showDetails == item.id_product_code" [@slideIn]>
      <ion-row radio-group>
        <ion-col col-6 text-center>
          <ion-label class="display-inline">Usada</ion-label>
          <ion-radio value="usada" checked="true"></ion-radio>
        </ion-col>
        <ion-col col-6 text-center>
          <ion-label class="display-inline">Terminada</ion-label>
          <ion-radio value="terminada"></ion-radio>
        </ion-col>
      </ion-row>
      <div class="ctn-accordeon-title">
        <ion-row>
          <ion-label (click)="toggleDescription(item,'1')">Intrucciones</ion-label>
        </ion-row>
      </div>
      <div class="ctn-accordeon-details">
        <ion-list *ngIf="item.showDescription" [@slideIn]>
          <ion-item>
            <div class="inner-html" [innerHTML]="item.description_short"></div>
            <!--<span class="large" [inner-html]="item.description_short"></span>-->
          </ion-item>
        </ion-list>
      </div>
      <div class="ctn-accordeon-title">
        <ion-row>
          <ion-label (click)="toggleDescription(item,'2')">Ubicación</ion-label>
        </ion-row>
      </div>
      <div class="ctn-accordeon-details">
        <ion-list *ngIf="item.showDirections" [@slideIn]>
          <ion-item>
            <div class="inner-html">direcciones</div>
          </ion-item>
        </ion-list>
      </div>
      <div class="ctn-accordeon-title">
        <ion-row>
          <ion-label (click)="toggleDescription(item,'3')">Terminos</ion-label>
        </ion-row>
      </div>
      <div class="ctn-accordeon-details">
        <ion-list *ngIf="item.showTerms" [@slideIn]>
          <ion-item>
            <div class="inner-html" [innerHTML]="item.description"></div>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ion-grid>
  
</ion-content>
