<!--
  Generated template for the Confirm page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar tabsHideOnSubPages="true"  hideBackButton="true" hide-tabs>
    <ion-buttons left>
      <button ion-button icon-only>
        <i class='fluz-fluz-fluz'></i>
      </button>
    </ion-buttons>
    <ion-title text-center>CONFIRMAR<button ion-button clear class="invisibleButton"></button></ion-title>
  </ion-navbar>

</ion-header>

<ion-content no-padding>
  <div class="ctn-float" *ngIf="showFormPhone">
      <ion-label text-center margin-bottom class="text-dark left">Debes registrar un número de teléfono móvil para la confirmación de tu cuenta.<br>Este será tu número de teléfono por defecto. 
      </ion-label>
      <ion-grid>
        <ion-row class="border-b" (click)="openModalCountry()">
          <ion-col col-2>
            <div class="ctn-img">
              <img src="{{countries.flag}}">
            </div>
          </ion-col>
          <ion-col col-9>
            <ion-label class="font-semi-bold">{{countries.callingCodes}}  {{countries.name}}</ion-label>
          </ion-col>
          <ion-col col-1 class="background-soft">
            <div text-center>
              <ion-icon name="ios-arrow-forward"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-item no-padding>
        <ion-input class="confimNumber" type="number" (keyup)="validatePhoneNumber($event)" [formControl]="phoneForm.controls['phoneNumber']"  placeholder="XXXXXXXXXX"></ion-input>
      </ion-item>
      <div padding-vertical>
        <button ion-button color="primary" block [disabled]="!enabledPhoneButton" (click)="savePhone()">{{textButton}}</button>
      </div>
  </div>
  <div *ngIf="!showFormPhone">
    <form class="ctn-float">
      <ion-label text-center margin-bottom class="text-dark left">{{textInfo}}</ion-label>
      <div text-center *ngIf="nextViewConfirm!==true" class="row text-dark">
        <h1 class="width-100">{{phoneNumber}}</h1>
      </div>
      <ion-item no-padding *ngIf="nextViewConfirm===true" >
        <ion-input class="confimNumber" type="number" (keyup)="validateConfirmNumber($event)" [formControl]="confirmForm.controls['confirmNumber']"  placeholder="X X X X X X"></ion-input>
      </ion-item>
      <div padding-vertical>
        <button ion-button color="primary" block [disabled]="!enabledConfirmButton" (click)="nextView()">{{textButton}}</button>
      </div>
      <ion-label text-center (click)="sendSMSAgain()">
        <span class="text-gray-normal">¿Aún no llega tu código?  </span><span class="text-primary">Reenviar</span>
      </ion-label>
<!--      <ion-label text-center>
        <span class="text-gray-normal">{{textContact}}</span><span class="text-primary">Contáctenos</span>
      </ion-label>-->
    </form>
  </div>
  

<ion-footer *ngIf="!showFormPhone" [@slideIn]>
  <ion-toolbar color="primary">
    <ion-title>{{textFooter}}</ion-title>
  </ion-toolbar>
</ion-footer>
